.gradient-custom {
    /* fallback for old browsers */
    background: #1d2b50;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(0, 85, 113, 0.576), rgb(165, 182, 178));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(1, 68, 91, 0.576), rgb(165, 182, 178))
}