<!-- La vista de los usuarios -->
<section style="background-color: #1d2b50">
  <div class="container py-5">
    <div class="row">
      <h1><FONT COLOR ="white">Lista de Usuarios</FONT></h1>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0" *ngFor="let usuario of usuarios">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">{{ usuario.username }}</p>
            <!-- Si tiene el rol de admin entonces aparece el boton de eliminar -->
            <div class="bg-danger d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 60px; height: 35px" *ngIf="authService.hasRole('ROLE_ADMIN')">
              <p class="text-white mb-0 small" (click)="delete(usuario)">Eliminar</p>
            </div>
            <!-- Igualmente si tiene el rol de admin entonces aparece el boton de editar -->
            <div class="bg-primary d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 60px; height: 35px" *ngIf="authService.hasRole('ROLE_ADMIN')">
              <p class="text-white mb-0 small" [routerLink]="['/usuarios/form', usuario.id]">Editar</p>
            </div>
          </div>
          <img src={{usuario.foto}} class="card-img-top" alt="Foto de usuario" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a  class="text-muted">Nombre:</a></p>
              <p class="text-dark mb-0">{{ usuario.nombre }}</p>
            </div>
            
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="small"><a  class="text-muted">Apellido Paterno:</a></p>
                <p class="text-dark mb-0">{{ usuario.paterno }}</p>
              </div>


              <div class="d-flex justify-content-between">
                <p class="small"><a class="text-muted">Apellido Materno:</a></p>
                <p class="text-dark mb-0">{{ usuario.materno }}</p>
              </div>

              
              <div class="d-flex justify-content-between">
                <p class="small"><a class="text-muted">Balance:</a></p>
                <p class="text-dark mb-0">{{ usuario.pumapuntos }}</p>
              </div>


              <div class="d-flex justify-content-between">
                <p class="small"><a class="text-muted">Carrera:</a></p>
                <p class="text-dark mb-0">{{ usuario.carrera }}</p>
              </div>


              <div class="d-flex justify-content-between">
                <p class="small"><a class="text-muted">Celular:</a></p>
                <p class="text-dark mb-0">{{ usuario.celular }}</p>
              </div>


              <div class="d-flex justify-content-between">
                <p class="small"><a class="text-muted">Email:</a></p>
                <p class="text-dark mb-0">{{ usuario.email }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- prueba para la obtencion de datos -->

    </div>
  </div>
</section>