<section style="background-color: #a3b5e8">
    <div class="container-fluid py-5">
      <h1>
        <FONT COLOR="white">Reportes mensuales</FONT>
      </h1> 
     <div class="row">
      </div>     
      <script type="typescript">
        console.log(usuarios)
      </script>
    <div class="container-fluid py-5">
      <h1>Usuarios Inactivos</h1>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>USERNAME</th>
            <th>NOMBRE </th>
            <th>PATERNO</th>
            <th>MATERNO</th>
            <th>CARRERA</th>
            <th>CELULAR</th>
            <th>EMAIL</th>
            <th>PUMAPUNTOS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of inactivos">
            <td><span>{{usuario.username}} </span></td>
            <td><span>{{usuario.nombre}} </span></td>
            <td><span>{{usuario.paterno}} </span></td>
            <td><span>{{usuario.materno}} </span></td>
            <td><span>{{usuario.carrera}} </span></td>
            <td><span>{{usuario.celular}} </span></td>
            <td><span>{{usuario.email}} </span></td>
            <td><span>{{usuario.pumapuntos}} </span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container-fluid py-5">
      <h1>Usuarios Activos Por Carrera</h1>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>USERNAME</th>
            <th>NOMBRE </th>
            <th>PATERNO</th>
            <th>MATERNO</th>
            <th>CARRERA</th>
            <th>CELULAR</th>
            <th>EMAIL</th>
            <th>PUMAPUNTOS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of porCarrera">
            <td><span>{{usuario.username}} </span></td>
            <td><span>{{usuario.nombre}} </span></td>
            <td><span>{{usuario.paterno}} </span></td>
            <td><span>{{usuario.materno}} </span></td>
            <td><span>{{usuario.carrera}} </span></td>
            <td><span>{{usuario.celular}} </span></td>
            <td><span>{{usuario.email}} </span></td>
            <td><span>{{usuario.pumapuntos}} </span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container-fluid py-5">
      <h1>Usuarios Con Mayor Número De Rentas</h1>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>USERNAME</th>
            <th>NOMBRE </th>
            <th>PATERNO</th>
            <th>MATERNO</th>
            <th>CARRERA</th>
            <th>CELULAR</th>
            <th>EMAIL</th>
            <th>PUMAPUNTOS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of masRentadores">
            <td><span>{{usuario.username}} </span></td>
            <td><span>{{usuario.nombre}} </span></td>
            <td><span>{{usuario.paterno}} </span></td>
            <td><span>{{usuario.materno}} </span></td>
            <td><span>{{usuario.carrera}} </span></td>
            <td><span>{{usuario.celular}} </span></td>
            <td><span>{{usuario.email}} </span></td>
            <td><span>{{usuario.pumapuntos}} </span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
