/* body {
    background-color: #1d2b50;
    font-family: sans-serif;
    padding: 20px;
  } */
  
a {
  color: black;
}

#dropdownMenuLink{
  color: rgb(214, 159, 7);
  border: 2px solid rgb(214, 159, 7);
}
#dropdownMenuLink:hover{
  color: #fff;
  background-color: rgb(214, 159, 7);
}

.btn.btn-outline-primary.dropdown-toggle.show{
  color: #fff;
  background-color: rgb(214, 159, 7);
}

.img-user{
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}

.menu{
  background: #fff;
  padding: 20px;
  margin: 10px;
}

.menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: rgb(214, 159, 7);
  margin-top: 15px;
  margin-bottom: 10px;
}

.menu button{
  background-color: #fff; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}



.menu button:hover {
  background-color: rgb(214, 159, 7);
  color: white;
}

.menu button.button3:hover {
  background-color: rgb(214, 7, 7);
  color: white;
}

.user-info{
  display: flex;
  align-items: center;
}

.user-info h3{
  font-weight: 500;
}

.user-info h2{
  font-weight: 200;
  color: rgb(214, 159, 7);;
}

.user-info img{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}