<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Contáctanos en nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <img src="https://cdn1.iconfinder.com/data/icons/social-media-set-for-free/32/facebook-512.png" alt="Facebook-logo" style="float:width:60px;height:60px;">
        <a href="https://m.facebook.com/login/?locale=es_ES" class="me-4 text-reset">
          Facebook
          <i class="fab fa-facebook-f"></i>
        </a>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/006/057/998/small/twitter-logo-on-transparent-background-free-vector.jpg" alt="Twitter-logo" style="float:width:70px;height:70px;">
        <a href="https://twitter.com/?lang=es" class="me-4 text-reset">
          Twitter
          <i class="fab fa-twitter"></i>
        </a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" alt="Instagram-logo" style="float:width:50px;height:50px;">
        <a href="https://www.instagram.com" class="me-4 text-reset">
          Instagram
          <i class="fab fa-instagram"></i>
        </a>
        <img src="https://cdn-icons-png.flaticon.com/512/145/145807.png" alt="Linkedin-logo" style="float:width:50px;height:50px;">
        <a href="https://mx.linkedin.com" class="me-4 text-reset">
          Linkedin
          <i class="fab fa-linkedin"></i>
        </a>
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Github-logo" style="float:width:50px;height:50px;">
        <a href="https://github.com/ArmandoTL8/ProyectoIS_It01/tree/main/Prototipo1.0" class="me-4 text-reset">
          Github
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright: Hecho en México, 
      <a class="text-reset fw-bold" href="https://www.unam.mx">Universidad Nacional Autónoma de México (UNAM)</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->