<div class="card bg-dark text-white container my-2">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">

        <form>
            <!-- Para rellenar la categoria -->
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Categoria</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.categoria" name="categoria">
                </div>
            </div>

            <!-- Para rellenar el nombre -->
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre">
                </div>
            </div>

            
            <!-- Para rellenar la descripcion -->
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Descripción</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.descripcion" name="descripcion">
                </div>
            </div>

            <!-- Para rellenar la cantidad -->
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Cantidad</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="producto.cantidad" name="cantidad">
                </div>
            </div>

            <!-- Para rellenar el precio -->
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Precio</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="producto.precio" name="precio">
                </div>
            </div>

            <!-- Para rellenar los dias -->
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Días</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="producto.dias" name="dias">
                </div>
            </div> 

            <!-- Boton para crear -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <!-- *ngIf="!producto.id else elseBlock" -->
                    <!-- Al momento de dar click en el boton agregar mandamos a llamar
                    el metodo create() de form.component.ts -->
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!producto.idProducto else elseBlock">Agregar</button>                   
                    <ng-template #elseBlock>
                        <button class="btn btn-secondary" role="button" (click)="update()">Actualizar</button>                   
                    </ng-template>
                </div>
            </div>
        </form>

    </div>

</div>
